
    body {
      background-color: blue;
        text-align: center;
        font-family: Arial black
    }

    video, img.c, {
      display: block;
      margin: 0 auto;
  }

p, button, h2, {
  text-align: center;
}

h2 {
  font-size: 50px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: white;
  color: black;
}

h3 {
  color: white;
}

h2.a,  {
  font-family: Arial black
}
